#memory {
  .container {
    background : cadetblue;
    .row {
      background: cadetblue;
      .memory-card {
        padding: 10px;
        margin: 10px;
        width: 100px;
        height: 100px;
      }
      .verso {
        background: gray;
        cursor: pointer;
      }
      @for $i from 1 through 18 {
        .memory-card-#{$i}.recto {
          background-image:url('../images/cards.png');
          background-position: 0 #{$i * 100}px;
        }
      }
    }
  }
}


